[submodule "emacs24-starter-kit"]
	path = emacs24-starter-kit
	url = git@github.com:eschulte/emacs24-starter-kit.git
[submodule "purcell_config"]
	path = purcell_config
	url = git@github.com:purcell/emacs.d.git
[submodule "emacs.d"]
	path = emacs.d
	url = git@github.com:purcell/emacs.d.git
